Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [8]:
s='Sourav'
print(s)
type(s)

Sourav

str

In [9]:
l=[1,2,3,4]
l
type(l)

list

In [10]:
f=22.5
print(f)
type(f)

22.5

float

In [7]:
t=(3,4)
print(t)
type(t)

(3, 4)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [12]:
var1=''
type(var1)

str

In [13]:
var2='[ DS , ML , Python]'
type(var2)

str

In [15]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [16]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [18]:
#This will simply show the result after division operation
a=7/2
print(a)

3.5

In [19]:
#This will show the reminder after division operation 
a=17%3
print(a)

2

In [22]:
#This will show only integer value after divison operation
a=17//3
print(a)
type(a)

5

int

In [23]:
#Power (2^3)
a=2**3
print(a)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [26]:
l=[2,3,'sourav','PW',3.4,(3,4),9,8,7,10]
for i in l: 
    print(i)

2
3
sourav
PW
3.4
(3, 4)
9
8
7
10

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [7]:
A=int(input('Enter A'))
B=int(input('Enter B'))
c=0
while (A%B==0):
    A=A//B
    c=c+1
print(c)

Enter A 64
Enter B 2

6

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [1]:
import random
my_list = [random.randint(1, 100) for i in range(25)]
for i in my_list:
    if(i%3==0):
        
        print(f"{i} is divisible by 3")
    else :
        print(f"{i} is not divisible by 3")

29 is not divisible by 3
95 is not divisible by 3
86 is not divisible by 3
64 is not divisible by 3
92 is not divisible by 3
82 is not divisible by 3
89 is not divisible by 3
74 is not divisible by 3
52 is not divisible by 3
15 is divisible by 3
20 is not divisible by 3
65 is not divisible by 3
54 is divisible by 3
4 is not divisible by 3
11 is not divisible by 3
65 is not divisible by 3
14 is not divisible by 3
64 is not divisible by 3
91 is not divisible by 3
17 is not divisible by 3
60 is divisible by 3
43 is not divisible by 3
20 is not divisible by 3
2 is not divisible by 3
5 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable :
    Mutable datatypes are those whose values can be modified after they are created.
    
Please see the example below:

In [6]:
my_list=[1,2,3]
my_list.append(4)
my_list[1]=5
my_list

[1, 5, 3, 4]

Immutable :
    Immutable datatypes are those whose values can not be modified after they are created.
    
Please see the example below:

In [7]:
# It will show error "'tuple' object has no attribute 'append'"
my_tuple = (1, 2, 3)
my_tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
my_list = [1, 2, 3]

new_list = my_list

new_list.append(4)

print(my_list)

[1, 2, 3, 4]

In [9]:
a= 2
b=a
b=2+5
print(a)

2