Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
# This is how we can do comment in python
#for i in range(5):
  #print(i)

In [ ]:
# Single Line Comment and
#Ex:

# print("My Name is Sourav")

# Multiline Comment
# Press Ctrl + /

# print("Line 1")
# print("Line 2")
# print("Line 3")
# print("Line 4")

# ---OR---

"""
Line 1
Line 2
Line 3
"""

Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
# I am going to explain this using different types of data types

#Integer
a= 5
type(a)

str

In [ ]:
#String
b='sourav'
type(b)

str

In [ ]:
#Boolean
c=True
type(c)

bool

In [ ]:
#Float
d=33.56
type(d)

float

In [ ]:
#List
e=[1,2,'sourav']
type(e)

list

In [ ]:
#Tuple
f=(1,2,3)
type(f)

tuple

In [ ]:
#Set
g={2,3,3,4}
type(g)

set

In [ ]:
#Dictionary
h={'Name':"Sourav",'Email':'adak.sourav1995@gmail,com'}
type(h)

dict


Q3. How do you convert one data type to another in Python?

In [ ]:
a=3
b='sourav'
c=str(a)+b
print(c)

3sourav

Q4. How do you write and execute a Python script from the command line?

Ans : open a command line --> type  python followed by the path to the  script file like this: python first_script.py Hello World! Then you hit the ENTER button

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [ ]:
my_list=[1,2,3,4,5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
a=5 + 2j
print("Type is :",type(a))
print("Real Part",a.real)
print("imaginary part", a.imag)

Type is : <class 'complex'>
Real Part 5.0
imaginary part 2.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [ ]:
age=25
print(age)
print(type(age))

25
<class 'int'>

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [ ]:
price=9.99
print(price)
print(type(price))

9.99
<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [ ]:
name= "Sourav Adak"
print(type(name))
print(name)

<class 'str'>
Sourav Adak

Q10. Given the string "Hello, World!", extract the substring "World".

In [ ]:
str= "Hello, World!"
str[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student = True
print(type(is_student))
if is_student==True:
  print("Currently a student")
else:
  print("Not a student")

<class 'bool'>
Currently a student